<style>
  #high-i1 {
    border: 1px solid #1E2122;
    background-color: #1E2122;
    width: 40px;
    height: 40px;
    padding: 11px;
    border-radius: 8px;
    margin: 10px;
  }


  span{
    padding: 10px;
  }

  
</style>



<div class="container">
  <label style="padding-bottom: 20px; font-size: 15pt;">MYFIVE</label>
  <div class="row g-2">
    <div class="col-4">
      <div class="p-3 border bg-light" style=" border-radius: 12px; ">

        <i id="high-i1" class="fas fa-shopping-cart"></i>주문

        <div class="col" style="padding-bottom: 10px;">
          <div style="border-top: 2px solid #C3BEB6; padding: 5px 0 5px 0;"></div>
          <span>주문 현황</span>

          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="far fa-list-alt"></i>입금 대기</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="far fa-credit-card"></i>결제 완료</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="fas fa-box-open"></i>배송 준비</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="fas fa-truck"></i>배송 중 </span>
           <span style="display: inline-block;
           width: 70px; text-align: right;">개</span>
          </div>
        </div>

        <div class="col">
          <div style="border-top: 2px solid #C3BEB6; padding: 5px 0 5px 0;"></div>
          <span>취소/반품 요청</span>

          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="far fa-window-close"></i>취소 요청</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="fas fa-reply"></i>반품 요청</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          
        </div>

        <div class="col">
          <div style="border-top: 2px solid #C3BEB6; padding: 5px 0 5px 0;"></div>

          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="fas fa-exclamation-triangle"></i>환불 요청</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light" style=" border-radius: 12px; height: 497px;">
        <i id="high-i1" class="fas fa-box"></i>상품
      
        <div class="col" style="padding-bottom: 10px;">
          <div style="border-top: 2px solid #C3BEB6; padding: 5px 0 5px 0;"></div>
          <span>상태</span>

          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="fas fa-box"></i>판매 중</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="far fa-minus-square"></i>판매 중지</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="fas fa-ban"></i>품절</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          
        </div>

        

      </div>
    </div>
      

    
    <div class="col-4">
      <div class="p-3 border bg-light" style=" border-radius: 12px;  height: 497px;">
        <i id="high-i1" class="fas fa-poll-h"></i>게시글
        <div class="col" style="padding-bottom: 10px;">
          <div style="border-top: 2px solid #C3BEB6; padding: 5px 0 5px 0;"></div>
          <span>게시판</span>

          <div>
            <span style="display: inline-block;
            width: 200px;"><i class="fas fa-box"></i>새로 올라온 글</span>
            <span style="display: inline-block;
            width: 70px; text-align: right;">개</span>
          </div>
          
          
        </div>

        

      </div>
    </div>
    </div>
  </div>