<div id="siteFooter" class="site-division  layout-type-align-center1 borderTop-notUse">
  <div class="site-division-background footer-background background-color"></div>
  <div class="site-division-background footer-background background-image" style="display:none;"></div>

  <div class="row row-main">
    <div class="column footer-left align-left">
    </div>
    <div class="column footer-center align-center">

      <div id="footerSns" class="site-element" data-itemtype="footer-sns">
      </div><ul id="footerMenuList" class="site-element" data-itemtype="footer-menu">

      <li data-pageno="1503508" class="menu-navi menu-main pageMenu">
        <a class="menu-name" alt="BLOG" href="#">BLOG</a>
        <div class="menu-opener"></div>
        <div class="subMenuNaviListDiv">
          <ul class="subMenuNaviList"></ul>
        </div>
      </li>
      <li data-pageno="1503509" class="menu-navi menu-main linkMenu">
        <a class="menu-name" alt="ABOUT US" target="_self" href="#">ABOUT US</a>
        <div class="menu-opener"></div>
        <div class="subMenuNaviListDiv">
          <ul class="subMenuNaviList"></ul>
        </div>
      </li>
      <li data-pageno="1503510" class="menu-navi menu-main pageMenu">
        <a class="menu-name" alt="CONTACT US" href="#">CONTACT US</a>
        <div class="menu-opener"></div><div class="subMenuNaviListDiv">
        <ul class="subMenuNaviList"></ul>
      </div>
      </li>
    </ul>
      <div id="footerSystemMenuList" class="site-element" style="z-index:0;">
      <div id="footerMenuNaviPolicy" class="menu-navi">
        <a class="menu-name" href="#">이용약관</a>
      </div>
      <div id="footerMenuNaviPravicy" class="menu-navi">
        <a class="menu-name" href="#">개인정보처리방침</a>
      </div>
      <div id="footerMenuNaviCheckCompanyInfoLinkAddress" class="menu-navi hide">
        <a class="menu-name" href="#">사업자정보확인</a>
      </div>
    </div>
      <div id="footerCompanyInfo" class="site-element" data-itemtype="company-info">
        <p id="memberCompanyInfo1stRaw"> </p>
        <p id="memberCompanyInfo2ndRaw"><span id="hostingProvider">호스팅제공자: MYFIVE</span></p>
      </div>
      <div id="footerEscrow" class="site-element hide" style="z-index:0;" data-pgtype="" data-merchantid=""></div>
      <div id="footerCopyright" class="site-element" data-itemtype="footer-copyright"></div>
    </div>
    <div class="column footer-right align-right">
    </div>
  </div>
</div>