<div id="siteHeader" class="siteHeader site-division  layout-type-normal-single-left2 layout-mobile-type-normal-center-left borderBottom-notUse headerMenuHamburgerBar-use scrolled">
  <div class="site-division-background header-background background-color"></div>
  <div class="site-division-background header-background background-image" style="display:none;"></div>
  <div class="row row-main desktop">
    <div class="column header-left">
      <a href="/dhadbs2/" id="headerLogo" class="headerLogo desktop site-element" data-itemtype="logo">
        <h1 class="site-name">MYFIVE</h1>
      </a>
    </div>
    <div class="column header-center">
      <div class="headerMenuList desktop site-element" data-itemtype="header-menu">
        <ul class="headerMenuListContents desktop">
          <li data-pageno="1503505" class="menu-navi menu-main pageMenu now">
            <a class="menu-name" alt="SHOP" href="http://localhost:8080/products/">SHOP</a>
            <div class="menu-opener"></div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>
          <li data-pageno="1503506" class="menu-navi menu-main pageMenu">
            <a class="menu-name" alt="ABOUT" href="/dhadbs2/aboutus">ABOUT</a>
            <div class="menu-opener"></div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>
          <li data-pageno="1503507" class="menu-navi menu-main pageMenu">
            <a class="menu-name" alt="LOOKBOOK" href="/dhadbs2/lookbook">LOOKBOOK</a>
            <div class="menu-opener"></div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>
          <li data-pageno="1503532" class="menu-navi menu-main boardProductQnaMenu">
            <a class="menu-name" alt="QA" href="/dhadbs2/untitled-5">Q&amp;A</a>
            <div class="menu-opener"></div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>
          <!--<li data-pageno="1503738" class="menu-navi menu-main boardProductReviewMenu">
            <a class="menu-name" alt="REVIEW" href="/dhadbs2/untitled-6">REVIEW</a>
            <div class="menu-opener">
            </div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>-->
        </ul>
      </div>
    </div>
    <div class="column header-right">
      <div id="headerCartAndCustomer" class="headerCartAndCustomer desktop site-element" data-itemtype="cartAndCustomer">
        <a id="headerProductSearch" class="headerProductSearch desktop site-element-child">
          <div class="search-input-box">
            <div class="searchIcon icomoon-search systemIcon systemIconWeight_none" data-type="icon"></div>
            <form class="headerSearchBar" action="" onsubmit="return false;">
              <input type="search" onkeyup="require('v2/mall/util/common').goSearchResultPage(event)">
            </form>
          </div>
          <span class="headerProductSearchContent" data-type="english">SEARCH</span>
          <span class="headerProductSearchContent" data-type="korean">검색</span>
          <div class="headerProductSearchContent icomoon-search systemIcon systemIconWeight_none" data-type="icon"></div>
        </a><a id="headerCustomer" class="headerCustomer desktop site-element-child" href="/dhadbs2/myPage">
        <span class="headerCustomerContent" data-type="english">MY PAGE</span>
        <span class="headerCustomerContent" data-type="korean">내 정보</span>
        <div class="headerCustomerContent icomoon-user systemIcon systemIconWeight_none" data-type="icon"></div>
        <div class="headerCustomerContent icomoon-snowman systemIcon systemIconWeight_none" data-type="icon-snowman"></div>
      </a><a id="headerCart" class="headerCart desktop site-element-child" href="/dhadbs2/cart/6970319">
        <span class="headerCartContent" data-type="english">CART</span>
        <span class="headerCartContent" data-type="korean">장바구니</span>
        <div class="headerCartContent icomoon-cart systemIcon systemIconWeight_none" data-type="icon"></div>
        <div class="headerCartContent icomoon-bag systemIcon systemIconWeight_none" data-type="icon-bag"></div>
        <span class="cartSizeWithBracketSpan cartType_english"></span></a>
      </div>
      <div id="headerSns" class="headerSns desktop site-element" data-itemtype="header-sns">
      </div>
    </div>
  </div>
  <div class="row row-main mobile">
    <div class="column header-left">
      <div id="headerMenuHamburgerBar" class="headerMenuHamburgerBar site-element">
        <div class="icomoon-menu systemIcon menuIcon systemIconWeight_none"></div>
      </div>
    </div>
    <div class="column header-center">
      <a href="/dhadbs2/" id="headerLogo" class="headerLogo mobile site-element" data-itemtype="logo">
        <h1 class="site-name">MYFIVE</h1>
      </a>
    </div>
    <div class="column header-right">
      <div id="headerCartAndCustomer" class="headerCartAndCustomer mobile site-element" data-itemtype="cartAndCustomer">
        <a id="headerProductSearch" class="headerProductSearch mobile site-element-child">
          <div class="headerProductSearchContent icomoon-search systemIcon systemIconWeight_none" data-type="icon"></div>
        </a><a id="headerCustomer" class="headerCustomer mobile site-element-child" href="/dhadbs2/myPage">
        <div class="headerCustomerContent icomoon-user systemIcon systemIconWeight_none" data-type="icon"></div>
        <div class="headerCustomerContent icomoon-snowman systemIcon systemIconWeight_none" data-type="icon-snowman"></div>
      </a><a id="headerCart" class="headerCart mobile site-element-child" href="/dhadbs2/cart/6970319">
        <div class="headerCartContent icomoon-cart systemIcon systemIconWeight_none" data-type="icon"></div>
        <div class="headerCartContent icomoon-bag systemIcon systemIconWeight_none" data-type="icon-bag"></div>
        <span class="cartSizeSpan cartType_icon" style="font-size: 13px; vertical-align: top;"></span></a>
      </div>
    </div>
  </div>
  <div class="row row-search mobile">
    <div class="searchIcon icomoon-search systemIcon systemIconWeight_none" data-type="icon"></div>
    <form class="headerSearchBar" action="" onsubmit="return false;">
      <input type="search" onkeyup="require('v2/mall/util/common').goSearchResultPage(event)" placeholder="검색">
    </form>
    <div class="closeSearchBar-btn icomoon-ic-close-small systemIcon systemIconWeight_none"></div>
  </div>
</div>