<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div style="font-weight:600;" id="siteHeader" class="siteHeader site-division  layout-type-normal-single-left2 layout-mobile-type-normal-center-left borderBottom-notUse headerMenuHamburgerBar-use scrolled">
  <div class="site-division-background header-background background-color"></div>
  <div class="site-division-background header-background background-image" style="display:none;"></div>
  <div class="row row-main desktop">
    <div class="column header-left">
      <a href="/home" id="headerLogo" class="headerLogo desktop site-element" data-itemtype="logo">
        <h1 class="site-name">MYFIVE</h1>
      </a>
    </div>
    <div class="column header-center">
      <div class="headerMenuList desktop site-element" data-itemtype="header-menu">
        <ul class="headerMenuListContents desktop">
          <li data-pageno="1503505" class="menu-navi menu-main pageMenu now">
            <a class="menu-name" alt="SHOP" href="http://localhost:8080/products/">SHOP</a>
            <div class="menu-opener"></div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>
          <li data-pageno="1503506" class="menu-navi menu-main pageMenu">
            <a class="menu-name" alt="ABOUT" href="/dhadbs2/aboutus">ABOUT</a>
            <div class="menu-opener"></div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>
          <li data-pageno="1503507" class="menu-navi menu-main pageMenu">
            <a class="menu-name" alt="LOOKBOOK" href="/dhadbs2/lookbook">LOOKBOOK</a>
            <div class="menu-opener"></div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>
          <li data-pageno="1503532" class="menu-navi menu-main boardProductQnaMenu">
            <a class="menu-name" alt="QA" href="http://localhost:8080/questions">Q&amp;A</a>
            <div class="menu-opener"></div>
            <div class="subMenuNaviListDiv">
              <ul class="subMenuNaviList"></ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="column header-right">
      <div id="headerCartAndCustomer" class="headerCartAndCustomer desktop site-element" data-itemtype="cartAndCustomer">
        <a id="headerProductSearch" class="headerProductSearch desktop site-element-child">
          <div class="search-input-box">
            <div class="searchIcon icomoon-search systemIcon systemIconWeight_none" data-type="icon"></div>
            <form class="headerSearchBar" method="get" action="/products/search">
              <input type="search" name="keyword" >
            </form>
          </div>
          <span class="headerProductSearchContent" data-type="english">SEARCH</span>
        <div class="headerProductSearchContent icomoon-search systemIcon systemIconWeight_none" data-type="icon"></div></a>
      <div style="display:inline-block;" >
       <a id="headerCustomer" class="headerCustomer desktop site-element-child" href="/dhadbs2/myPage">
        <span class="headerCustomerContent" data-type="english">MY PAGE</span>
        <div class="headerCustomerContent icomoon-user systemIcon systemIconWeight_none" data-type="icon"></div>
        <div class="headerCustomerContent icomoon-snowman systemIcon systemIconWeight_none" data-type="icon-snowman"></div></a>
       <a id="headerCart" class="headerCart desktop site-element-child" href="/dhadbs2/cart/6970319">
        <span class="headerCartContent" data-type="english">CART</span>
        <div class="headerCartContent icomoon-cart systemIcon systemIconWeight_none" data-type="icon"></div>
        <div class="headerCartContent icomoon-bag systemIcon systemIconWeight_none" data-type="icon-bag"></div>
        <span class="cartSizeWithBracketSpan cartType_english"></span></a>
      </div>
    </div>
      <div id="headerSns" class="headerSns desktop site-element" data-itemtype="header-sns">
      </div>
    </div>
  </div>
</div>
</html>