<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">

<head>
    <meta charset="UTF-8">
    <title>MY FIVE</title>
</head>
<body>
<h1>이곳은 홈화면이다</h1>

<!--아이디 : <span sec:authentication="name"></span><br>
권한 : <span sec:authentication="authorities"></span><br>-->
<button onclick="location.href='http://localhost:8081/dashboard/home'">dashboard</button>

<button th:onclick="@{/logout}">로그아웃</button>


</body>
</html>