<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head th:replace="fragments/header :: header">-->
    <meta charset="UTF-8">
    <title>review</title>
</head>
<body>
<div class="container">
   <!-- <div th:replace="fragments/bodyHeader :: bodyHeader"/>-->

    <div class="jumbotron">
    <p class="lead">리뷰와 후기</p>
    <p>
        <a class="btn btn-lg btn-secondary" href="/reviews/add">리뷰 등록</a>
        <a class="btn btn-lg btn-secondary" href="/reviews">리뷰 목록</a>
    </p>
    <p>
        <a class="btn btn-lg btn-secondary" href="/reviews/review">후기 등록</a>
        <a class="btn btn-lg btn-secondary" href="/reviews/review">후기 목록</a>
    </p>
    </div>

    <!--<div th:replace="fragments/footer :: footer"/>-->

</div>
</body>
</html>