<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reviewlist</title>
</head>
<body>
<h1>리뷰 목록</h1>


</body>
</html>-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>reviewlist</title>
</head>
<body>
<h1><span th:text="${questionId}"></span>번 질문</h1>
<h2>답변 목록</h2>
<div class="container">
    <div>
        <table style="border: 1px solid #444444">
            <thead>
            <tr>
                <th style="border: 1px solid #444444">답변 아이디</th>
                <th style="border: 1px solid #444444">질문 아이디</th>
                <th style="border: 1px solid #444444">답변 내용</th>
                <th style="border: 1px solid #444444">작성날짜</th>
                <!-- <th style="border: 1px solid #444444">수정</th>-->
                <!--     <th>리뷰 작성 시간</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="answerList : ${answerList}">
                <td style="border: 1px solid #444444" th:text="${answerList.id}"></td>
                <td style="border: 1px solid #444444" th:text="${answerList.questionId}"></td>
                <td style="border: 1px solid #444444" th:text="${answerList.content}"></td>
                <td style="border: 1px solid #444444" th:text="${#temporals.format(answerList.questionAnswerTime,'yyyy-MM-dd HH:mm')}"></td>
                <!--<td style="border: 1px solid #444444" ><a th:href="@{/reviews/}+${review.id}+@{/edit}">수정</a></td>-->
                <!--   <td th:text="${review.reviewTime}"></td>  -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/><br/><br/>

</body>
</html>