<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reviewlist</title>
</head>
<body>
<h1>리뷰 목록</h1>


</body>
</html>-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>questionlist</title>
</head>
<body>
<a th:href="@{/questions}">질문 전체 목록</a><br/>
<a th:href="@{/question/add}">질문 등록 하기</a>
<h1>질문 목록</h1>
<div class="container">
    <div>
        <table style="border: 1px solid #444444">
            <thead>
            <tr>
                <th style="border: 1px solid #444444">#</th>
                <th style="border: 1px solid #444444">상품 아이디</th>
                <th style="border: 1px solid #444444">질문 내용</th>
                <th style="border: 1px solid #444444">작성자</th>
                <th style="border: 1px solid #444444">작성날짜</th>
                <th style="border: 1px solid #444444">수정</th>
                <th style="border: 1px solid #444444">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question : ${questionLists}">
                <td style="border: 1px solid #444444" th:text="${question.id}"></td>
                <td style="border: 1px solid #444444" th:text="${question.productId}"></td>
                <td style="border: 1px solid #444444" th:text="${question.content}"></td>
                <td style="border: 1px solid #444444" th:text="${question.userId}"></td>
                <td style="border: 1px solid #444444" th:text="${#temporals.format(question.questionTime,'yyyy-MM-dd HH:mm')}"></td>
                <td style="border: 1px solid #444444" ><a th:href="@{/question/}+${question.id}+@{/edit}">수정</a></td>
                <td style="border: 1px solid #444444" ><a th:href="@{/question/}+${question.id}+@{/delete}">삭제</a></td>
                <td style="border: 1px solid #444444" ><a th:href="@{/question/}+${question.id}+@{/addanswer}">댓글보기</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>