<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      class="wf-ebgaramond-n4-active wf-ptserif-n4-active wf-nanumgothic-n4-active wf-nanummyeongjo-n6-active wf-nanummyeongjo-n4-active wf-active">
    <meta http-equiv="X-UA-Compatible" id="X-UA-Compatible" content="IE=edge">

<div th:replace="customer/users/mypage/head"/>



    <script th:inline="javascript">
      $(function(){
          $("#updateBtn").on("click", function() {
              var url = "/mypage"

             $.ajax({
                url: url,
                method: "PUT",
                data: {
                      email: $("#email").val(),
                      name: $("#name").val(),
                      password: $("#password").val(),
                      phoneNumber1: $("#phoneNumber1").val(),
                      phoneNumber2: $("#phoneNumber2").val(),
                      phoneNumber3: $("#phoneNumber3").val(),
                      postNumber: $("#postNumber").val(),
                      address1: $("#address1").val(),
                      address2: $("#address2").val()
                  },
                  success: function(data){
                      alert(data);
                      location.replace(url);
                  },
                  error: function(){
                      alert("에러발생");
                  }

             });

          });
      });
    </script>

  <body class="display display-home display desktop">

  <div id="displayCanvas" class="desktop" data-viewport="desktop">

      <div id="myPage" class="myPage wrapper">
          <div class="column-wrapper two-column">
              <div class="infoList field">
                  <div class="header designSettingElement text-title">
                      <span class="title">주문 내역</span>
                  </div>
                  <div id="shopCustomerOrderListDiv" class="content orderList designSettingElement text-body ">
                      <div class="tb-title designSettingElement shape clearfix">
                          <span class="date">일자</span>
                          <span class="product">상품 정보</span>
                          <span class="total">가격</span>
                          <span class="status">상태</span>
                      </div>

                      <div class="tb-title designSettingElement shape clearfix">
                          <span class="date">21.06.15</span>
                          <span class="product">상품 정보</span>
                          <span class="total">90,000</span>
                          <span class="status">굿</span>
                      </div>




                      <div id="shopCustomerOrderList" class="tb-content">
                      </div>
                      <div id="shopCustomerOrderPageCount" class="pagination_div designSettingElement">
                      </div>
                  </div>
                  <div id="noOrderMsg" class="content no-content-msg designSettingElement text-body ">
                      주문 내역이 없습니다.
                  </div>
                  <!--  my posts -->
                <div class="js-section-myposts ">
                    <div class="header designSettingElement text-title otherTitle myPostsTitle myPosts">
                        <span class="title">내가 쓴 글</span>
                    </div>
                    <div id="shopProductMyPostDiv" class="content myPostList designSettingElement text-body ">
                        <div class="tb-title designSettingElement shape clearfix">
                            <span class="date">일자</span>
                            <span class="title">제목</span>
                            <span class="type">유형</span>
                        </div>
                        <div id="shopProductMyPosts" class="tb-content">
                            <div class="tb-title designSettingElement shape clearfix">
                                <span class="date">21.06.15</span>
                                <span class="title"><a href="/dhadbs2/productQna/120001/5">asdf</a></span>
                                <span class="type">질문</span>
                            </div>
                        </div>
                    </div>

                    <div id="shopCustomerMyPostsCount" class="pagination_div designSettingElement">
                        <!-- 페이지네이션 -->
                    </div>

                    <div id="noShopCustomerMyPostsMsg" class="content no-content-msg designSettingElement text-body">
                        내가 쓴 글이 없습니다.
                    </div>
                </div>

            </div>



            <div class="memberInfo field">
                <div class="header designSettingElement text-title">
                    <span class="title">회원 정보</span>
                </div>
                <div class="content designSettingElement text-body">
                    <div class="function logout">
                        <form action="/_shop/customer/logout" method="POST">
                            <a class="text designSettingElement text-assi" href="/logout">
                                로그아웃
                            </a>
                        </form>
                    </div>

                    <div class="row">
                        <label for="email" class="title">이메일</label>
                        <input type="email" id="email" class="designSettingElement shape"
                               readonly="readonly"
                               th:value="${user.email}">
                    </div>


                    <div class="row name">
                        <span class="title">이름</span>
                        <input id="name" name="name" type="text" class="designSettingElement shape"
                               th:value="${user.name}">
                    </div>


                    <div class="row contact">
                        <label for="phoneNumber1" class="title">휴대폰 번호</label>
                        <input type="tel" id="phoneNumber1" name="phoneNumber1" class="designSettingElement shape phoneNumber js-inputOnlyNumber"
                               maxlength="3"
                               th:value="${user.phoneNumber1}"
                        >
                        <div class="element">-</div>
                        <input type="tel" id="phoneNumber2" name="phoneNumber2"
                               class="designSettingElement shape phoneNumber js-inputOnlyNumber"
                               maxlength="4"
                               th:value="${user.phoneNumber2}"
                        >
                        <div class="element">-</div>
                        <input type="tel" id="phoneNumber3" name="phoneNumber3"
                               class="designSettingElement shape phoneNumber js-inputOnlyNumber"
                               maxlength="4"
                               th:value="${user.phoneNumber3}"
                        >
                    </div>

                    <div class="row post-code">
                        <label for="postNumber" class="title">우편번호</label>
                        <div class="post-code-wrapper clearfix">
                            <input id="postNumber" type="text" class="designSettingElement shape addressInfo"
                                   readonly="readonly"
                                   th:value="${user.address?.postNumber}">
                            <button class="designSettingElement button outline"
                                    onclick="showDaumPostcode(4,'default')">
                                검색하기
                            </button>
                        </div>


                        <!-- daum postcode -->
                        <div id="daum_postcode_layer" style="z-index: 1020">
                            <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" class="hide"
                                 style="cursor: pointer; position: absolute; right: -3px; top: -3px; z-index: 100;"
                                 onclick="closeDaumPostcode()" alt="닫기 버튼">
                        </div>
<!-- 주소 검색 모듈 -->
<script src="/js/searchPost.js"></script>
                    </div>

                    <div class="row address">
                        <label class="title">주소</label>
                        <input type="text" id="address1" class="designSettingElement shape addressInfo"
                               readonly="readonly"
                               th:value="${user.address?.address1}">
                        <input type="text" id="address2" class="designSettingElement shape addressInfo"
                               th:value="${user.address?.address2}">
                    </div>

                    <div class="function">
                        <a th:href="@{mypage/changePassword}" class="text designSettingElement text-assi">
                            비밀번호 변경하기
                        </a>
                        <a th:href="@{mypage/withdrawal}" class="text designSettingElement text-assi">
                            탈퇴하기
                        </a>
                    </div>

                    <div class="btn-wrapper">
                        <button id="updateBtn" class="designSettingElement button">
                            변경 사항 저장하기
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>