<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      class="wf-ebgaramond-n4-active wf-ptserif-n4-active wf-nanumgothic-n4-active wf-nanummyeongjo-n6-active wf-nanummyeongjo-n4-active wf-active">
<meta http-equiv="X-UA-Compatible" id="X-UA-Compatible" content="IE=edge">

<div th:replace="customer/users/mypage/head"/>

<script th:inline="javascript">
        $(function(){
          $("#sendBtn").on("click", function() {
             var pwd1 = $("#newPassword").val();
             var pwd2 = $("#newPasswordCheck").val();
             if(pwd1!=pwd2) {
                var resultDiv = document.getElementById("loginSignupErrorMsg");
                resultDiv.innerHTML = "비밀번호를 확인해주세요.";
                return;
             }
             var url = "/auth/initializePassword";
             $.ajax({
                url: url,
                method: "PATCH",
                data: {
                      newPassword: $("#newPassword").val()
                  },
                  success: function(data){
                      if(data=="SUCCESS"){
                          alert("비밀번호를 재설정하였습니다.");
                          location.replace("/auth/login");
                      }else{

                      }
                  },
                  error: function(){
                      alert("인증에러발생");
                  }

             });

          });
      });
    </script>

<body class="display display-home display desktop">

<div id="displayCanvas" class="desktop" data-viewport="desktop">

  <div id="signup" class="login wrapper">
    <div class="column-wrapper one-column">
      <div class="signup field">
        <div class="header designSettingElement text-title">
          <span class="title">비밀번호 재설정</span>
        </div>
        <div class="content designSettingElement text-body">

          <div class="row name">
            <span class="title">새 비밀번호</span>
            <input id="newPassword" type="password" class="designSettingElement shape">
          </div>

          <div class="row name">
            <span class="title">새 비밀번호 확인</span>
            <input id="newPasswordCheck" type="password" class="designSettingElement shape">
          </div>




          <div id="loginSignupErrorMsg" class="error-msg">

          </div>

          <div class="btn-wrapper">
            <button id="sendBtn" class="designSettingElement button">
              비밀번호 재설정하기
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

</body>
</html>