<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품등록혀!!</title>
</head>

<body>

<form action="/dashboard/products/add" method="post" enctype="multipart/form-data">

상품명 : <input type="text" name="productname"><br>
상품설명 : <input type="text" name="productinfo"><br>
정상가 : <input type="text" name="rprice"><br>
할인가 : <input type="text" name="dprice"><br>
재고 : <input type="text" name="stock"><br>

썸네일1 : <input type="file" name="productImages.get(0)"><br>
썸네일2 : <input type="file" name="productImages.get(1)"><br>
내용1 : <input type="file" name="productImages.get(2)"><br>
내용2 : <input type="file" name="productImages.get(3)"><br>

<input type="submit" value="보내랏">

</form>

</body>
</html>