<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 | 어드민</title>
</head>
<body>


<img th:src="@{/products/} + ${productResponseDto.productId} + @{/images/THUMBNAIL33}">
<img th:src="@{/products/} + ${productResponseDto.productId} + @{/images/CONTENTS1}">
<img th:src="@{/products/} + ${productResponseDto.productId} + @{/images/CONTENTS2}">
<img th:src="@{/products/} + ${productResponseDto.productId} + @{/images/THUMBNAIL1}">


</body>
</html>