<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품수정 | 어드민</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
        function changeHidden(value,num) {
            document.getElementById(num).value = value;
        }
    /*]]>*/
    </script>
</head>
<body>
    <form th:action="@{'/dashboard/products/' + ${dto.productId}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put">

        상품명 : <input type="text" name="productName" th:value="${dto.productName}"><br>
        상품설명 : <textarea th:text="${dto.productInfo}"></textarea>
        정상가 : <input type="text" name="rprice" th:value="${dto.rprice}"><br>
        할인가 : <input type="text" name="dprice" th:value="${dto.dprice}"><br>
        재고 : <input type="text" name="stock" th:value="${dto.stock}"><br>
        썸네일1 : <input multiple type="file" name="file1"
                      th:onchange="'javascript:changeHidden(' + ${dto.imageList[0].id} + ', 0)'"><br>
        썸네일2 : <input multiple type="file" name="file2"
                      th:onchange="'javascript:changeHidden(' + ${dto.imageList[1].id} + ', 1)'"><br>
        내용1 : <input multiple type="file" name="file3"
                     th:onchange="'javascript:changeHidden(' + ${dto.imageList[2].id} + ', 2)'"><br>
        내용2 : <input multiple type="file" name="file4"
                     th:onchange="'javascript:changeHidden(' + ${dto.imageList[3].id} + ', 3)'"><br>

        <input type="hidden" th:value="0" id="0" name="imageId1">
        <input type="hidden" th:value="0" id="1" name="imageId2">
        <input type="hidden" th:value="0" id="2" name="imageId3">
        <input type="hidden" th:value="0" id="3" name="imageId4">

        <input type="submit" value="수정해랏">
    </form>

</body>
</html>